* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #47008a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}